@import "../variables.css";

.question {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal {
  width: 100%;
  min-height: 240px;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(178, 185, 189, 0.4), -5px 10px 60px 0 rgba(55, 124, 152, 0.2);
}

.title {
  font-family: proxima-nova;
  font-size: 20px;
  line-height: 30px;
  color: #3a7b96;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.explainer {
  font-family: proxima-nova;
  font-size: 16px;
  line-height: 26px;
  color: #92acb7;
  margin-bottom: 40px;
}

.radio:not(:last-child) {
  margin-right: 20px;
}

.questionAnswer {
  margin-top: 20px;
}

.radio {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(9, 171, 241, 0.2);
  border: solid 1px $cerulean-two;
  padding: 10px 20px 10px 40px;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0px 2px 4px 0 rgba(9,171,241, 0.3);
    top: 1px;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 1px $cerulean-two;
  }
}

.hidden {
  position: absolute;
  opacity: 0;

  &:checked + .radio {
    box-shadow: 0px 2px 4px 0 rgba(9,171,241, 0.3);
    top: 1px;
  }

  &:checked + .radio::before {
    content: ' ';
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $cerulean-two;
  }
}
