@import "../variables.css";
$modal-width: 600px;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.title {
  text-transform: uppercase;
  font-family: proxima-nova;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  color: $bluish-grey;
  width: 600px;
  text-align: center;
  margin-bottom: 80px;
}

.titleHighlight {
  color: $seafoam-blue;
}

.timeline {
  width: 400px;
  margin-bottom: 40px;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &::before {
    content: ' ';
    position: absolute;
    top: 50%;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, #65d9cf, $cerulean-two);
    transform: translateY(-50%);
  }
}

.form {
  width: $modal-width;
}

.context {
  position: absolute;
  top: 50%;
  right: calc(50% + ( $modal-width / 2 ) + 80px);

  width: 130px;

  transform: translateY(-50%);
}

.powered {
  position: absolute;
  top: 40px;
  right: 40px;
}
